data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
04-deployment/batch/storage/

.vscode/settings.json
.DS_Store
*.bin
*/.vscode
.vscode
